<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/main.css" />
    {{ template "_internal/google_analytics.html" . }}
  {{ $directory := "themes/lean-landing-page/static/" }}
  {{ $filename := "favicon.png" }}
  {{ if (where (readDir $directory) "Name" $filename) }}
    <link rel="icon" type="image/png" href="favicon.png" />
  {{ end }}
    <title>{{ .Site.Title }}</title>
</head>